.par1{
    font-size: medium;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    display:inline-block;
    background-color: magenta;
}

#tx-nome{
    border: 2px solid rgb(63, 89, 205);
    background-color: aquamarine;
    letter-spacing: 3px;
    height: 30px;
    
}

#tx-nome:focus{
    border: 2px dashed purple;
}

#div3{
    background-color: blueviolet;
    width: 400px;
    height: 50px;
    display: none;
}

input{
    display: inline-block;
}